{erl_opts, [debug_info]}.
{deps, [
	{lager, {git, "https://github.com/erlang-lager/lager.git", {branch, master}}}
]}.

{relx, [{release, {inet_test, "0.0.1"},
         [inet_test],
         [{dev_mode, true},
          {include_erts, true},
          {extended_start_script, true}]}
       ]}.

{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.
